:root {
  --primary: rgb(20, 20, 20);
  --secondary: rgb(239, 239, 239);
}

@font-face {
  font-family: "Roboto";
  src: url(fonts/Roboto-VariableFont_wdth\,wght.ttf);
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  background-color: var(--primary);
  color: var(--secondary);
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

/* NAV BAR */
nav {
  margin-top: 16px;
  display: flex;
  padding: 0 48px;
  justify-content: space-between;
  max-height: 64px;
}

nav ul li {
  list-style: none;
  color: var(--secondary);
}

nav ul li a {
  color: var(--secondary);
  text-decoration: none;
  font-weight: 700;
  font-size: 1.5rem;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav-right ul {
  display: flex;
  gap: 24px;
  height: 100%;
  align-items: center;
}